<script src="https://widgets.healcode.com/javascripts/healcode.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Lato|Lora|Open+Sans|PT+Serif|Roboto" rel="stylesheet">

<style type="text/css">
  /* Главный заголовок */
  div.healcode .healcode-title-text {
    color: rgba(0, 0, 255, 0) !important;
  }
  div.healcode a.action_icon .action_text.my_account_text {
    font-family: 'Open Sans' !important;
    margin-top: 32px !important;
    margin-right: 0px !important;    
    padding: 0;
    cursor: pointer;
    line-height: 18px;
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.8) !important;
  }
  div.healcode a.action_icon img {
    visibility: hidden;
  }
  div.healcode .header h1 {
    border-bottom: 0px !important;
  }
  div.healcode .hc_header_time {
    visibility: hidden;
  }
  /*Дата Время День строки / меню */
  div.healcode table.schedule tr th,
  div.healcode table.enrollments tr th,
  div.healcode table.healcode-appointments tr th,
  div.healcode ol.enrollment_list li.cancelled div tr th {
    background-color: transparent !important;
    color: #232323  !important;
  }
  /*Дата Время День строки / не меню */
  div.healcode table.enrollments, div.healcode ol.enrollment_list li.cancelled div {
    background-color: transparent !important;
    font-family: 'Open Sans' !important;
    text-align: left;
    color: rgba(0, 0, 0, 0.8) !important;
    border-width: 1px !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
    padding: 8px 16px !important;
    font-size: 15px !important;
  }
  div.healcode table.enrollments tr th {
    vertical-align: middle !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  div.healcode td.healcode-date-field {
    color: rgba(0, 0, 0, 0.8) !important;
    font-family: 'Open Sans' !important;
    text-transform: uppercase !important;
  }
  /* Инструктор и семинар*/
  div.healcode a {
    color: #8F9294;
    font-weight: 100 !important;
    font-size: 14px !important;
    font-family: 'Open Sans' !important;
    text-decoration: none;
  }
  /* MORNING   AFTERNOON   EVENING */
  div.healcode label {
    visibility: hidden;
  }
  /* checkbox */
  div.healcode input {
    visibility: hidden;
  }
  /* | */
  div.healcode .healcode-previous {
    visibility: hidden;
  }
  /* | */
  div.healcode .healcode-today {
  }
  div.healcode table.schedule tr.odd td, div.healcode div.list_view li.odd, div.healcode table.list_view ol.schedule_list li.odd {
    background-color: transparent !important;
    font-size: 15px;
    font-family: 'Open Sans';
    text-transform: uppercase;
  }
  /*ЗАПИСЬ*/
  div.healcode .hc-button.signup_now {
    background-color: transparent !important;
    font-family: 'Open Sans' !important;
    font-size: 10px !important;
    color: #23232A !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    padding: 9px 0px;
    background-color: transparent;
    margin-left: 20;
  }
  div.healcode {
    background-color: transparent !important;
  }
  /*PREVIOUS TODAY NEXT*/
  div.healcode .week_links a, div.healcode .week_links a:visited, div.healcode .day_links a, div.healcode .day_links a:visited, div.healcode .healcode-date-links-area a {
    visibility: hidden;
  }
  /*CALENDAR*/
  div.healcode .date_links {
    visibility: hidden;
  }
  div.healcode .healcode-calendar {
    visibility: hidden;
  }
  div.healcode .healcode-date-links-area .week_links {
    visibility: hidden;
  }
  /* скрыть полусу прокрутки хром, сафари */
  .element::-webkit-scrollbar { width: 0; }

  /* скрыть полусу прокрутки ie 10+ */
  .element { -ms-overflow-style: none; }

  /*Footer*/
  div.healcode .hc_footer {
    visibility: hidden;
  }
</style>
<healcode-widget data-type='enrollments' data-widget-partner='object' data-widget-id='473379225a0' data-widget-version='0'></healcode-widget>
