.App {
  text-align: center;
  vertical-align: baseline;
  position: fixed;
  overflow: scroll; 
  height: 100%;
  width: 100%;
  max-height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.App-header {
  background-color: #121111;
  height: 70px;
  padding: 2px;
}

.App-intro {
  font-size: large;
}
.museo
{
  font-family:'Conv_Museosanscyrl500',Sans-Serif;
  width:800px;
  margin:10px auto;
  text-align:left;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-text {
  text-align: left;
  vertical-align: baseline;
}
.container {
  min-height: 0;
  min-width: 0;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,800);

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background: transparant;
  color: #444;
  font-family: 'AppleSDGothicNeo-Light', 'Raleway', Arial, sans-serif;
}
#app {
  height: 100%;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #fff;
}
main {
  height: 100%;
  padding: 3em 2em;
  text-align: center;
  background: #fff;
  overflow: scroll;
}
h1 {
  font-weight: 100;
  font-size: 3.75em;
}
.description {
  max-width: 20em;
  margin: 1.2em auto 1em;
  line-height: 1.3em;
  font-weight: 400;
}
.demo-buttons {
  font-size: 1em;
  max-width: 1200px;
  margin: 2em auto 3em;
  padding: 0 10em;
}
.demo-buttons a {
  display: inline-block;
  margin: 0.75em;
  padding: 1.35em 1.1em;
  width: 15em;
  background: #fffce1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  border-top-left-radius: 20px 50px;
  border-top-right-radius: 20px 50px;
  border-bottom-right-radius: 20px 50px;
  border-bottom-left-radius: 20px 50px;
  cursor: pointer;
}
.side-button {
  display: inline-block;
  width: 5em;
  height: 2.5em;
  line-height: 2.5em;
  cursor: pointer;
  background: #fffce1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8em;
  font-weight: 100;
}
.side-button.left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.side-button.right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.side-button.active {
  background: #ccc;
}


@media screen and (max-width: 40em) {
  .bm-burger-button {
    position: fixed;
    width: 30px;
    height: 20px;
    left: 40px; important!
    top: 5px;
  }
}

@media screen and (max-width: 90em) {
  main {
    font-size: 80%;
  }
  h1 {
    padding-top: 1em;
    font-size: 2.5em;
  }
  .demo-buttons {
    max-width: 900px;
    padding: 0 2em;
  }
}

.bm-burger-button {
   position: fixed;
   width: 30px;
   height: 20px;
   left: 25px;
   top: 25px;
}

.bm-burger-bars {
  background: #ccc;
}
.bm-morph-shape {
  fill: #121111;
}
.bm-menu {
  background: rgba(100, 100, 100, 0.93);
}
.bm-menu a {
  color: #fff;
}
.bm-menu a:hover,
.bm-menu a:focus {
  color: #BF813E;
}
.bm-item-list a {
  text-align: left;
  padding-top: 1.0em;
  padding-left: 4.0em;
}
.bm-item-list a span {
  margin-left: 10px;
  font-weight: 100;
}
#slide .bm-cross,
#stack .bm-cross {
  background: #fff;
}
#slide .bm-menu,
#stack .bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
#bubble .bm-cross,
#push .bm-cross {
  background: #999;
}
#bubble .bm-menu,
#push .bm-menu {
  padding: 3.4em 1em 0;
}
#bubble a,
#push a {
  padding: 1em;
}
#bubble i,
#push i {
  font-size: 1.7em;
  vertical-align: middle;
  color: #282a35;
}
#elastic .bm-cross {
  background: #888;
}
#elastic .bm-menu {
  padding: 2em 1em;
  font-size: 1.15em;
}
#elastic i {
  opacity: 0.5;
}
#elastic span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75em;
}
#scaleDown .bm-cross,
#scaleRotate .bm-cross,
#pushRotate .bm-cross,
#fallDown .bm-cross {
  background: #888;
}
#scaleDown h2,
#scaleRotate h2,
#pushRotate h2,
#fallDown h2 {
  margin: 0 auto;
  padding: 2em 1em;
  color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
}
#scaleDown h2 i,
#scaleRotate h2 i,
#pushRotate h2 i,
#fallDown h2 i {
  margin-left: 0.2em;
}
#scaleDown h2 span,
#scaleRotate h2 span,
#pushRotate h2 span,
#fallDown h2 span {
  font-size: 1.6em;
  font-weight: 700;
}
#scaleDown a,
#scaleRotate a,
#pushRotate a,
#fallDown a {
  padding: 1em;
  text-transform: uppercase;
  transition: background 0.3s, box-shadow 0.3s;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
}
#scaleDown a span,
#scaleRotate a span,
#pushRotate a span,
#fallDown a span {
  letter-spacing: 1px;
  font-weight: 400;
}
#scaleDown a:hover,
#scaleRotate a:hover,
#pushRotate a:hover,
#fallDown a:hover,
#scaleDown a:focus,
#scaleRotate a:focus,
#pushRotate a:focus,
#fallDown a:focus {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
  color: #b8b7ad;
}
